html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    display: block;
}
h1{
    display: inline-block;
    margin-right: 15px;
    color: #405274;
    margin-bottom: 0;
}
h2{
    display: inline-block;
    color: #aaa;
    margin-bottom: 0;
}

ul{
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 300px;
}
li{
    display: block;
    list-style: none;
    margin-top: 10px;
    background-color: #c4e4ff;
    border-radius: 4px;

}

li a{
    text-decoration: none;
    color: #405274;

}
li img{
    width: 55px;
    vertical-align: middle;
    margin-right: 20px;
}

.botonera{
    vertical-align: middle;
    float: right;
}
.botonera button{
    display: block;
    width: 45px;
    height: 22px;
    background-color: #777;
    color: #fff;
    border-radius: 6px;
    margin-top: 4px;
}

#div_select{
    margin: 10px auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #aaa;
}