html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    display: block;
}
h1{
    display: inline-block;
    margin-right: 15px;
    color: #405274;
    margin-bottom: 0;
}
h2{
    display: inline-block;
    color: #aaa;
    margin-bottom: 0;
}